.App {
  padding-top: 50px;
  min-height: 100vh;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  background-color: #ddd;
  z-index: 1;
  margin: 0;
}
